<div class="row container-fluid  mx-auto my-3 featurette backg">
	<div  class="col-sm-5" >
		<img class ="rounded-circle featurette-image img-responsive center-block"  src="/assets/img/about.png" 
		alt="Generic image">
	</div >
	<div  class="col-sm-7 " >
		<h2 class ="featurette-heading font-italic" >Making friends makes  <span  class = "text-muted" >life meaningful ;)</span></h2>
		<p class="lead display-5 font-weight-normal" >I love when people visit my places and realise that I offer beautiful places for them and gorgeous vacations.</p>
	</div>
	
</div>

